h1.municipalityName { 
    color: red
}

h1.city {
    margin-bottom: -15px;
    white-space: nowrap;
}

h1.temp {
    margin-top: 25px;
    margin-bottom: 15px;
}

h4.humidity {
    margin-top: 5px;
    margin-bottom: -5px;
}

h4.description {
    text-transform: capitalize;
    margin-left: 15px;
}
img.icon {
    margin-left: -15px;
}

input.search-bar{
    margin-left: -1em;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.5em;
    height: 3em;
    width: 80%;
    outline: none;
    background-color: #ffb6b6;
    padding: 15px;

}

input.search-bar:hover {
    background: #f8cbcb;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

button {
    transform: translateY(7.5%);
    display: inline;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background-color: #ffb5b5;
}

button:hover {
    background: #ffd3d3;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

span.message1{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }