h1.city {
    margin-bottom: -15px;
    white-space: nowrap;
}

h1.temp {
    margin-top: 25px;
    margin-bottom: 15px;
}

h4.humidity {
    margin-top: 5px;
    margin-bottom: -5px;
}

h4.description {
    text-transform: capitalize;
    margin-left: 15px;
}
img.icon {
    margin-left: -15px;
}

input.search-bar{
    margin-left: -1em;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.5em;
    height: 3em;
    width: 20em;
    outline: none;
    background-color: rgb(255, 158, 158);
    padding: 15px;

}

input.search-bar:hover {
    background: rgb(255, 187, 187);
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

button {
    transform: translateY(7.5%);
    display: inline;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background-color: rgb(255, 158, 158);
}

button:hover {
    background: rgb(255, 187, 187);
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

.weather-card {
    background-color: rgba(102, 101, 101, 0.61);
    position: relative;
    transform: translate(35%, -240%);
    height: 120%;
    width: 450px;
    margin-left: 5em;
    margin-top: -1px;
    border: 1px solid;
    padding: 2em;
    border-color: rgb(114, 114, 114);
    border-radius: 5em;
}